@{
    Layout ="/Views/Shared/user_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>

    <section id="content">
        <div class="border-horiz"></div>

        <div class="box-contact">
            <h3>Change Password</h3>
            <form id="contact-form" action="#">
                <div class="success"> To change your password, please enter your current password, choose a new password, and confirm it.</strong> </div>
                <fieldset>
                   
                        <div>
                            <b><div class="form-txt">Current Password:</div></b>
                            <label class="name">
                                <input type="text" name="Contact" placeholder="###">
                                <span class="error"></span> <span class="empty"></span>
                            </label>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <b><div class="form-txt">New Password:</div></b>
                            <label class="name">
                                <input type="text" name="Contact" placeholder="must be atleast 6 characters">
                                <span class="error"></span> <span class="empty"></span>
                            </label>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <b><div class="form-txt">Confirm Password:</div></b>
                            <label class="name">
                                <input type="text" name="Contact" placeholder="confirm new password">
                                <span class="error"></span> <span class="empty"></span>
                            </label>
                            <div class="clear"></div>
                        </div>
                        

               
                    
                    <div class="clear"></div>
                    <div class="btns"><a class="btn" data-type="submit" href="~/Home/login" style="color:red;">Save</a></div>
                </fieldset>
            </form>
        </div>
    </section>

</body>
</html>