@{
    Layout ="/Views/Shared/user_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>

    <section id="content">
        <div class="border-horiz"></div>

        <div class="box-contact">
            <div align="center"> <h4>Epicurious</h4></div>
            <form id="contact-form" action="#">
                 <div class="success"> Please enter your email address below and we'll send you a link to reset your password. <strong></strong> </div>
                <fieldset>
                    <div class="coll-1">
                        <div>
                            <div class="form-txt"></div>
                            <label class="name">
                                <input type="text" placeholder="EMAIL">
                                <span class="error">*This is not a valid email.</span> <span class="empty"></span>
                            </label>
                            <div class="clear"></div>
                        </div>


                    </div>

                    <div class="clear"></div>
                    <div class="btns">  <a class="btn" data-type="submit">Submit</a> </div>
                </fieldset>
            </form>
        </div>
    </section>

</body>
</html>