@{
    Layout ="/Views/Shared/user_Layout.cshtml";
}
@{
    ViewBag.Title = "logout";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <section id="content">
        <div class="border-horiz"></div>

        <div class="box-contact">

           
            <form id="contact-form" action="../Home/signout">

                @*<div class="success"> <strong> </strong> </div>
                <fieldset>
                    <div class="coll-1">


                        <li>
                            <b>
                                <a href="~/Home/settings/@Session["UId"]">My Settings </a> || <a href="~/Home/addrecipe/@Session["UId"]">Create Recipe </a> || <a href="~/Home/myrecipe/@Session["UId"]">My Recipe </a> <b> || </b> <a href="~/Home/delrecipe/@Session["UId"]">Delete Recipe </a> <a href="~/Home/updateConfirm/@Session["UId"]">Update Recipe </a> <a href="~/Home/review/@Session["UId"]">Review  ||  </a> <a href="~/Home/LogOut">Log Out </a>

                            </b>
                        </li>







                    </div>

                </fieldset>*@
            </form>
        </div>
    </section>

</body>
</html>


