@{
    Layout ="/Views/Shared/user_Layout.cshtml";
}

@model Epicurious.Models.epicuser
<!DOCTYPE html>
<html lang="en">

<body>
    <section id="content">
        <div class="border-horiz"></div>
        <div class="box-contact">
            <h3 style="color:red;"><p>@Session["Uusername"]</p></h3>

            
            <form id="contact-form" action="">
                <fieldset>
                    <div class="coll-1">
                        
                            @*<li><u><b><a href="~/Home/settings" style="color: #CC0000">Settings</a></b></u></li>*@

</div>

                </fieldset>
            </form>
        </div>
    </section>
</body>
</html>