@{
    Layout ="/Views/Shared/user_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>

    <section id="content">
        <div class="border-horiz"></div>
        <div class="container_12">
            <article class="side-bar extra1">
                <h3><span>aBOUT</span>oUR sCHOOL</h3>
                <figure class="box-img img-indent1"><img src="~/Content/images/page5-img1.jpg" alt=""></figure>
                <div class="inner-1">
                    <a href="#" class="link-1">At vero eos et accusam et justo duo dolores et ea rebum. </a>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                    <p>magna aliquyam erat, accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit consetetur sadipscing elitr.</p>
                    <a href="#" class="btn">Read more</a>
                </div>
            </article>
            <article class="grid_8">
                <h3>Our Chefs</h3>
                <ul class="list-recipes extra">
                    <li>
                        <figure class="box-img"><img src="~/Content/images/page5-img2.jpg" alt=""></figure>
                        <div class="overflow">
                            <h4>Danis bowing</h4>
                            <p>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam. et justo duo dolores et ea rebum.</p>
                            <a href="#" class="btn">Read more</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="box-img"><img src="~/Content/images/page5-img3.jpg" alt=""></figure>
                        <div class="overflow">
                            <h4>Sam Dowson</h4>
                            <p>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam. et justo duo dolores et ea rebum.</p>
                            <a href="#" class="btn">Read more</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="box-img"><img src="~/Content/images/page5-img4.jpg" alt=""></figure>
                        <div class="overflow">
                            <h4>Jane smart</h4>
                            <p>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam. et justo duo dolores et ea rebum.</p>
                            <a href="#" class="btn">Read more</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </article>
            <div class="clear"></div>
        </div>
    </section>

</body>
</html>