@{
    Layout ="/Views/Shared/user_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>

    <section id="content">
        <div class="border-horiz"></div>
        <div class="container_12">
            <article class="side-bar">
                <h3><span>Main</span> Courses</h3>
                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit consetetur sadipscing elitr, sed sadipscing nonumy eirmod tempor.</p>
                <ul class="list-1">
                    <li><a href="#">invidunt ut labore</a></li>
                    <li><a href="#">et dolore magna</a></li>
                    <li><a href="#">aliquyam erat</a></li>
                    <li><a href="#">sed diam voluptua</a></li>
                    <li><a href="#">At vero eos et accusam</a></li>
                    <li><a href="#">et justo duo</a></li>
                </ul>
                <p>dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore.</p>
                <ul class="list-1">
                    <li><a href="#">dolores duo eirmod</a></li>
                    <li><a href="#">eos erat et nonumy sed</a></li>
                    <li><a href="#">tempor et et</a></li>
                    <li><a href="#">invidunt justo</a></li>
                    <li><a href="#">labore Stet clita</a></li>
                    <li><a href="#">ea et gubergren kasd</a></li>
                    <li><a href="#">magna no rebum</a></li>
                </ul>
            </article>
            <article class="grid_8">
                <h3>Short Courses</h3>
                <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tepor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duof dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                <a href="#" class="btn">Read more</a>
                <div class="padd-1">
                    <h3>Our Teachers</h3>
                </div>
                <ul class="list-teachers">
                    <li>
                        <figure class="box-img"><img src="~/Content/images/page2-img1.jpg" alt=""></figure>
                        <div class="overflow">
                            <h4>Danis bowing</h4>
                            <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.</p>
                            <a href="#" class="btn">Read more</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="box-img"><img src="~/Content/images/page2-img2.jpg" alt=""></figure>
                        <div class="overflow">
                            <h4>Jane smart</h4>
                            <p>dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                            <a href="#" class="btn">Read more</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="box-img"><img src="~/Content/images/page2-img3.jpg" alt=""></figure>
                        <div class="overflow">
                            <h4>Sam Dowson</h4>
                            <p>sed diam nonumy eirmod tempor invidunt ut labore et dolore. magna aliquyam erat, sed diam voluptua.</p>
                            <a href="#" class="btn">Read more</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </article>
            <div class="clear"></div>
        </div>
    </section>

</body>
</html>