@{
    Layout ="/Views/Shared/user_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe</title>
    
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="screen">


</head>



<body>

    <section id="content">
        <div class="border-horiz"></div>
        <div class="container_12">
            <article class="side-bar extra">
                <h3>
                    <strong>3</strong> Steps <em>
                        To become<br>
                        a perfect cook
                    </em>
                </h3>
                <ul class="list-dropcap1">
                    <li>
                        <div class="wrapper">
                            <div class="dropcap">1</div>
                            <h4>
                                Enter our <br>
                                school
                            </h4>
                        </div>
                        <p>At vero eos et accusam justo duo dolores et ea Stet clita kasd gubergren.</p>
                        <a href="#" class="btn">Read more</a>
                    </li>
                    <li>
                        <div class="wrapper">
                            <div class="dropcap">2</div>
                            <h4>
                                Education
                                Courses
                            </h4>
                        </div>
                        <p>takimata snctus Lorem ipsum dolor sit am Lorem ipsum dolor sit consetetur.</p>
                        <a href="#" class="btn">Read more</a>
                    </li>
                    <li>
                        <div class="wrapper">
                            <div class="dropcap">3</div>
                            <h4>
                                Practical
                                Training
                            </h4>
                        </div>
                        <p>sadipscing elitsed diaonumy eirmod tempor duo dolores et ea rebum. Stet clita.</p>
                        <a href="#" class="btn">Read more</a>
                    </li>
                </ul>
            </article>
            <article class="grid_8">
                <h3>Recipes</h3>
                <ul class="list-recipes">
                    <li>
                        <figure class="box-img"><a href="~/Home/addrecipe"><img src="~/Content/images/page3-img1.jpg" alt=""></a></figure>
                        <div class="overflow">
                            <h4>Create Your consetetur sadipscing</h4>
                            <p>invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam. Stet clita kasd gubergro sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor consetetur sadipscing elitr, sed diam.</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="box-img"><a href="~/Home/updateConfirm"><img src="~/Content/images/page3-img2.jpg" alt=""></a></figure>
                        <div class="overflow">
                            <h4>Update Your consetetur elitr</h4>
                            <p>aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren. no sea takimata sanctus est Lor ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur. sadipscing</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <figure class="box-img" ><a href="~/Home/delrecipe"><img src="~/Content/images/page3-img3.jpg" alt=""></a></figure>
                        <div class="overflow">
                            <h4> Delete Your consetetur sadipscing</h4>
                            <p>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo. dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </article>
            <div class="clear"></div>
        </div>
    </section>

</body>
</html>